// Neutral color palette
$palette-neutral--xdark: #222222;
$palette-neutral--dark: #3b3b3b;
$palette-neutral--light: #efefef;
$palette-neutral--xlight: #fbfbfb;

// Primary color palette
$palette-orange: #ef7e18;

// Apply colors
$c-background: #fff;
$c-primary: #105d8c;
$c-text: #000;
$c-error: red;
$c-link: #000;
$c-link--hover: gray;
$c-header-bg: #00245a;
$c-navigation: #105d8c;