.filter {
  width: auto;
  text-align: center;
  background: white;
  display: inline-block;
  ul {
    list-style: none;
    padding: 0;

    li {
      display: inline-block;
      padding: 0.6em 1.2em 0.4em 1.2em;
      border-bottom: 0.2em solid white;
      cursor: pointer;
      color: $c-text;
      border-color: white;
      transition: background-color 0.1s ease, border-color 0.1s ease;
    }

    li.active {
      background-color: $c-primary;
      border-color: $c-primary;
    }

    li:hover {
      border-color: $c-primary;
      //background-color: darkgray;
    }
  }
}
