%form {
  input, textarea, select {
    margin-bottom: 0.8em;
  }

  select {
    display: block;
  }

  label {
    display: block;
    margin-bottom: 0.3em;
    line-height: 1.4em
  }

  .button {
    margin-top: 0.8em;
  }
}