body {
  font-family: $ff-body;
  background: $c-background;
  color: $c-text;
}

p {
  font-size: $fs-normal;
  line-height: 1.6em;
}

a {
  color: $c-primary;
  text-decoration: none;

  &:hover {
    //color: lighten($c-primary, 5%);
    border-bottom: 2px $c-primary solid;
  }
}
