%basic {
  @include container;

  .navigation {
    @include span(12 of 12);
    margin-bottom: 0.3em;
  }

  .content {
    @include span(12 of 12);
    padding-top: 0.3em;
  }


  @include respond-above("medium") {

    .navigation {
      @include span(3 of 12);
      padding-top: 3em;
    }

    .content {
      @include span(9 of 12);
      padding-top: 3em;
    }
  }
}

.wrapper {
  @extend %basic;
}

body {
  background-color: #efefef;
}

