%course {
  @extend %layout;

  .course-list {
    display: table;
    padding: 2em 0;
  }

  .course-list-heading {
    display: table-header-group;
    font-weight: 600;

    span {
      display: table-cell;
      padding: 0 0.8em 0.8em 0;
    }

    span.no-mobile {
      display: none;
    }
  }

  .course-list-item {
    display: table-row;

    span {
      display: table-cell;
      padding: 0 1em 0.5em 0;
    }

    span.no-mobile {
      display: none;
    }
  }

  .course-filter {
    display: inline-block;
    margin-right: 1em;

    span {
      display: inline-block;
      background-color: lighten($c-primary, 40%);
      padding: 0.6em;
      border: 1px solid #ddd;
      border-radius: 5px;
      cursor: pointer;

      &.active {
        background-color: $c-primary;
        color: white;
      }
    }
  }

  .no-mobile {
    display: none;
  }

  @include respond-above("medium") {

    .mobile {
      display: none;
    }

    .course-list-heading {
      span.no-mobile {
        display: table-cell;
      }

      span.mobile {
        display: none;
      }
    }

    .course-list-item {
      span.no-mobile {
        display: table-cell;
      }

      span.mobile {
        display: none;
      }
    }
  }

  @include respond-above("large") {

  }

}

.course {
  @extend %course;
}