%footer {
  background-color: #fff;

  @include respond-above("medium") {

  }

  @include respond-above("large") {

  }
}

.footer {
  background-color: $c-footer-background;
  color: $c-font-dark-bg;

  @extend %footer;
}