%user {
  @extend %layout;
  @extend %table;
  @extend %form;

  .delete {
    display: block;
    background-color: $c-error;
    color: black;

    &:hover {
      background: lighten($c-error, 20%);
    }
  }

  .button {
    margin-right: 0.4em;
  }

  @include respond-above("medium") {

  }
}

.user {
  @extend %user;
}